@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="header">Welcome to the Movie Database</h1>

    <!-- Link to other pages -->

    <div class="button-panel">
        <a asp-controller="Movie" asp-action="Index" class="btn btn-primary">Movies</a>
        <a asp-controller="Actor" asp-action="Index" class="btn btn-primary">Actors</a>
    </div>
</div>
