@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/home.css">
</head>

<div class="text-center">
    
    <h1 class="header">Welcome to the Movie Database</h1>

    <!-- Link to other pages -->

    <div class="button-panel">
        <a asp-controller="Movie" asp-action="Index" class="btn btn-primary">Movies</a>
        <a asp-controller="MovieActor" asp-action="Index" class="btn btn-primary">Movie Actors</a>
        <a asp-controller="Actor" asp-action="Index" class="btn btn-primary">Actors</a>
    </div>
</div>
