@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="searchBar">
        <input type="text" id="movieSearch" placeholder="Search for an actor or movie..." />
        <button onclick="searchMovie()">Search</button>
    </div>

</div>
