@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Welcome to the Movie Database</h1>

    <!-- Link to other pages -->

    <a asp-controller="Movie" asp-action="Index" class="btn btn-primary">Movies</a>
    <a asp-controller="Actor" asp-action="Index" class="btn btn-primary">Actors</a>
</div>
