@model Fall2024_Assignment3_jbmcclenny.Models.MovieActorViewModel

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="~/css/movie-actor.css">
</head>


<div class="centered-page">
    <h1 class="header">Delete</h1>
    <hr />
    <h3 class="warning-message">Are you sure you want to delete the connection for <br />
        @Html.DisplayFor(model => model.Actor.Name) and @Html.DisplayFor(model => model.Movie.Name)?</h3>
        <br />
        
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
