@model Fall2024_Assignment3_jbmcclenny.Models.MovieActorViewModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/movie-actor.css">
</head>

<div class="centered-horizontal">
    <h1 class="header">Connection Details</h1>
    <br />
    <hr />
    <table class="table inner-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Movie.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Actor.Name)
            </td>
        </tr>
    </table>
</div>

<div class="sidebar">
    <a asp-controller="Home" asp-action="Index" class="btn btn-mini">Home</a>
    <hr />
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-mini">Edit</a>
    <hr />
    <a asp-controller="Movie" asp-action="Index" class="btn btn-mini">Movie Index</a>
    <a asp-controller="Actor" asp-action="Index" class="btn btn-mini">Actor Index</a>
    <a asp-action="Index" class="btn btn-mini">Movie Actors</a>
</div>
