@model Fall2024_Assignment3_jbmcclenny.Models.MovieViewModel

@{
    ViewData["Title"] = "Create Movie Page";
}

<h1>Create Movie Page</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MovieTitle" class="control-label"></label>
        <input asp-for="MovieTitle" class="form-control" />
        <span asp-validation-for="MovieTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PosterUrl" class="control-label"></label>
        <input asp-for="PosterUrl" class="form-control" />
        <span asp-validation-for="PosterUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImdbLink" class="control-label"></label>
        <input asp-for="ImdbLink" class="form-control" />
        <span asp-validation-for="ImdbLink" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre" class="control-label"></label>
        <input asp-for="Genre" class="form-control" />
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseYear" class="control-label"></label>
        <input asp-for="ReleaseYear" class="form-control" />
        <span asp-validation-for="ReleaseYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}